body, html {
    font-family: Arial;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #d7e9ff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

input[type="text"] {
    width: 60%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.todo-container {
    display: flex;
    justify-content: space-around;
}

.todo, .done {
    width:25%;
}

h2 {
    border-bottom: 3px solid #bedbf6;
    padding-bottom: 2px; 
    margin: 10px 100px;
    font-size: 20px;
}
ul {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
    font-size: 20px;
}

li {
    margin: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #bedbf6;
    padding-bottom: 7px; 
}

button {
    padding: 3px 7px;
}

button.complete {
    background-color: #a8cee9; 
    color: black; 
    border: none;
}

button.delete {
    background-color: #a8cee9; 
    color: black; 
    border: none;
}
