body {
    background-color: #cee5eb;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin-top: 80px;
    margin-bottom: 100px;
}

hr {
    background-color: lightgray;
    height: 1px;
    width: 800px;
}

#todoInput {
    width: 700px;
    height:30px;
    margin-bottom: 10px;
}

.todoContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 700px;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 0 20px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
    width: 150px;
    list-style: none;
    padding-bottom: 7px;
    border-bottom: 3px solid #bfd6db;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

button {
    background-color: #c7effc;
    border: none;
    color: black;
    font-size: 12px;
    padding: 6px 4px;
}
